*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav{
    background-image: url(image/pattern.png);
    background-color: #4EA0FF;
    background-size: auto 200%;

    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 8px;
}

nav img{
    height: 40px;
}

main{
    padding-left: 8px;
    padding-right: 8px;
}

.grey-text{
    color: grey;
}

#header-date{
    font-size: 12px;
}

section{
    margin-bottom: 22px;
}

#table table{
    border-spacing: 0;
}

#table thead{
    background-color: #20a8e4;
    color: white;
}

#table table .back-blue{
    background-color: #b0e4f1;
}

#table #half-widht{
    width: 50%;
}

footer .footer-image{
    width: 280px;
    height: 168px;
}

footer #footer-image-1{
    background-image: url(image/monitor.jpg);
}

footer #footer-image-2{
    background-image: url(image/graph.jpg);
}